/* Modified version of https://github.com/aadilayub/firefox-i3wm-theme */
/* Licensed GPLv3. */

/* change these variables to get different colors */
#tabbrowser-tabs {
  --tab-active-color: #285577;
  --tab-active-border-color: #4c7899;
  --tab-inactive-color: #222222;
  --tab-inactive-border-color: #333333;
  --tab-color-active: #ffffff;
  --tab-color-inactive: #888888;
  --font-mono: monospace;
}

/* change to control tabbar height */
/* try increasing to 20px if you see a black line under tabbar */
#titlebar {
  --tab-min-height: 27px !important;
}

/* --- DEBLOAT NAVBAR ----------------------------------- */

#back-button {
  display: none;
}
#forward-button {
  display: none;
}
#reload-button {
  display: none;
}
#nav-bar-overflow-button {
  display: none !important;
}
#PanelUI-button {
  display: none;
}
#nav-bar,
#navigator-toolbox {
  border-width: 0 !important;
  --toolbar-field-focus-border-color: #42414d;
}

/* --- DEBLOAT URLBAR ----------------------------------- */

#pageActionButton {
  display: none;
}
#pocket-button {
  display: none;
}
#urlbar-zoom-button {
  display: none;
}
#tracking-protection-icon-container {
  display: none !important;
}
#reader-mode-button {
  display: none !important;
}
#star-button {
  display: none;
}

/* this will remove the invisible box at the end of urlbar but also will
 * disable the Ctrl+D shortcut */
#star-button-box {
  display: none;
}

/* Go to arrow button at the end of the urlbar when searching */
#urlbar-go-button {
  display: none;
}

/* remove container indicator from urlbar */
#userContext-label,
#userContext-indicator {
  display: none !important;
}

/* add padding back */
.urlbar-input-box {
  padding-inline-start: 5px;
}

/* --- STYLE TAB TOOLBAR -------------------------------- */

#titlebar {
  --proton-tab-block-margin: 0 !important;
  --tab-block-margin: 0 !important;
}

:root:not([customizing]) #TabsToolbar {
  background-color: #222;
}

:root:not([customizing]) #navigator-toolbox {
  background-color: #222 !important;
}

#TabsToolbar,
.tabbrowser-tab {
  max-height: var(--tab-min-height) !important;
  font-size: 13px !important;
  font-weight: normal;
}

/* Change color of normal tabs */
tab:not([selected="true"]) {
  background-color: var(--tab-inactive-color) !important;
  border: 1px solid var(--tab-inactive-border-color) !important;
  color: var(--tab-color-inactive) !important;
}

tab {
  font-family: var(--font-mono), monospace;
  border: none !important;
}

/* safari style tab width */
.tabbrowser-tab[fadein] {
  max-width: 100vw !important;
  border: none;
}

/* hide tab bar if only one tab open */
tab:only-of-type {
  display: none;
}

/* Hide close button on tabs */
#tabbrowser-tabs .tabbrowser-tab .tab-close-button {
  display: none !important;
}

/* hide container line on tab*/
#tabbrowser-tabs .tab-context-line {
  display: none;
}

/* disable favicons in tab */
.tab-icon-stack:not([pinned]) {
  display: none !important;
}

.tabbrowser-tab {
  /* remove border between tabs */
  padding-inline: 0 !important;
  /* remove fading effect from tab text */
  --tab-label-mask-size: 1em !important;
  /* fix pinned tab behaviour on overflow */
  overflow-clip-margin: 0 !important;
}

/* remove min-height from tabs toolbar (needed for fullscreen one tab) */
#TabsToolbar,
#tabbrowser-tabs,
#tabbrowser-tabs > .tabbrowser-arrowscrollbox,
#tabbrowser-arrowscrollbox {
  min-height: 0 !important;
}

/* Tab: selected colors */
#tabbrowser-tabs .tabbrowser-tab[selected] .tab-content {
  background: var(--tab-active-color) !important;
  border: 1px solid var(--tab-active-border-color) !important;
  color: white;
  color: var(--tab-color-active) !important;
}

/* Tab: hovered colors */
#tabbrowser-tabs .tabbrowser-tab:hover:not([selected]) .tab-content {
  background: var(--tab-inactive-color) !important;
}

/* remove white margin around active tabs */
#tabbrowser-tabs:not([movingtab])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab[beforeselected-visible]::after,
#tabbrowser-tabs[movingtab]
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab[visuallyselected]::before,
.tabbrowser-tab[visuallyselected]::after {
  border: none !important;
}

#main-window #navigator-toolbox #TabsToolbar:not(:-moz-lwtheme) {
  background: var(--tab-active-color) !important;
}

/* hide window controls */
.titlebar-buttonbox-container {
  display: none;
}

/* remove titlebar spacers */
.titlebar-spacer {
  display: none !important;
}

/* disable tab shadow */
#tabbrowser-tabs:not([noshadowfortests])
  .tab-background:is([selected], [multiselected]) {
  box-shadow: none !important;
}

/* remove dark space between pinned tab and first non-pinned tab */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0 !important;
}

/* remove dropdown menu button which displays all tabs on overflow */
#alltabs-button {
  display: none !important;
}

/* fix displaying of pinned tabs on overflow */
#tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
  height: var(--tab-min-height) !important;
}

/* remove overflow scroll buttons */
#scrollbutton-up,
#scrollbutton-down {
  display: none !important;
}

/* --- AUTOHIDE URLBAR ---------------------------------- */

/* hide urlbar unless focused */
:root {
  --address-bar-height: 40px;
  --browser-offset: calc(-1 * (var(--address-bar-height) + 1px));
}
#navigator-toolbox-background {
  position: absolute !important;;
}
#navigator-toolbox-background ~ #browser {
  margin-top: var(--browser-offset) !important;
}
/* #navigator-toolbox-background:hover, */
#navigator-toolbox-background:focus-within {
  z-index: 9001 !important;
}

/* Hide "Firefox Suggest", "Google Suggestions" and other labels */
.urlbarView-row[label]::before {
  /* Suppress the text */
  display: none !important;
}
.urlbarView-row[label] {
  /* Remove the empty space */
  margin-block-start: 0 !important;
}