@-moz-document domain("mail.google.com") {
    body {
        margin: 0 !important;
    }

    #guser,
    #gbar {
        background-color: #1b1c1d !important;
        color: #ccc !important;
    }

    #guser a,
    #gbar a {
        color: #adadad !important;
        text-decoration: none !important;
    }

    .gbh,
    .gbd {
        border: none !important;
    }

    a {
        color: royalblue !important;
        text-decoration: none !important;
    }

    a:hover,
    #gbar a:hover,
    #guser a:hover {
        text-decoration: underline !important;
    }

    .m tr:not(:first-child) td {
        padding: 7px !important;
        padding-left: 12px !important;
    }

    .l {
        display: none !important;
    }

    .m td {
        padding-right: 6px !important;
    }

    .m tr:first-child td {
        height: 36px;
    }

    .compose tbody > tr:first-child > td:first-child {
        vertical-align: baseline !important;
        width: auto !important;
    }

    form[name="f"] > table:first-of-type {
        display: none !important;
    }

    textarea#to {
        height: 22px !important;
    }

    table[bgcolor="#E0ECFF"] {
        display: none !important;
    }

    table[bgcolor="#CCCCCC"],
    table[bgcolor="#efefef"],
    table[bgcolor="#cccccc"] {
        background-color: #c3d9ff !important;
    }

    body > table > tbody > tr:first-child > td:first-child {
        width: 200px !important;
    }

    body > table > tbody > tr:first-child > td:first-child > table > tbody > tr:first-child > td a:first-child {
        color: #fff !important;
        text-decoration: none !important;
        padding: 10px;
        background: #ea4335;
        border-radius: 10px;
    }

    body > table > tbody > tr:first-child > td:first-child > table > tbody > tr:first-child > td a:first-child:hover {
        -moz-box-shadow: 1px 1px #c1dbf5 !important;
        -webkit-box-shadow: 1px 1px #c1dbf5 !important;
    }

    body > table > tbody > tr:first-child > td:first-child > table > tbody > tr:first-child > td {
        background-color: transparent !important;
    }

    body > table > tbody > tr:first-child > td:last-child > table > tbody > tr > td:first-child,
    body > table > tbody > tr:first-child > td:last-child > table > tbody > tr > td:nth-child(3) {
        display: none !important;
    }

    body > table > tbody > tr:first-child > td:last-child > table > tbody > tr > td:nth-child(2) {
        border-radius: 15px !important;
        padding: 20px !important;
        background: #c3d9ff !important;
    }

    body > table > tbody > tr:first-child > td:last-child > table > tbody > tr > td:nth-child(2)[bgcolor="#fff7d7"] {
        background-color: #fad163 !important;
    }

    .prf {
        background-color: #fff7d7 !important;
    }

    body > table > tbody > tr:first-child > td:last-child > table > tbody > tr > td:last-child > form > table:not(:last-of-type) {
        margin-bottom: 15px !important;
    }

    body > table tbody tr td h1 a img {
        margin-left: 20px !important;
    }

    .ft {
        margin-left: 0 !important;
        width: 100% !important;
        margin-bottom: 20px !important;
    }

    .ft * {
        padding: 3px !important;
        background: initial !important;
    }

    .ft tr:first-child td {
        display: none !important;
    }

    body > table {
        padding-right: 10px !important;
    }
}
