@-moz-document domain("reddit.com") {
        .listing-page .thumbnail:not(:empty) {
          float: none !important;
          width: 100% !important;
          position: initial !important;
        }
        .listing-page .thumbnail:empty {
          display: none !important;
        }
        .listing-page .thumbnail img {
          width: 500px !important;
          height: auto !important;
        }
        .listing-page .entry {
          margin-left: 70px !important;
        }
        .thing {
          border-bottom: 1px solid gray !important;
          padding-bottom: 10px !important;
          padding-top: 5px !important;
        }
.duration-overlay {display: none !important;position: static !important;}
}
